<% include _header.html %>
<tr>
  <td colspan="2" style="padding: 50px 30px 15px 30px;" class="main large font"><img src="<?= sender.avatarUrl ?>" class="avatar"/>&nbsp;&nbsp;<span style="font-weight:bold;" class="large font"><?= sender.name ?></span>&nbsp;&nbsp;邀请你加入<?= label ?></td>
</tr>
<tr>
  <td colspan="2" style="font-weight: bold;" class="main large font"><?= titleName ?></td>
</tr>
<tr>
  <td colspan="2" class="main"><a href="<?= redirectUrl ?>" style="font-size: 18px;display: block;height: 50px;line-height: 50px;" class="btn btn-primary large font">访问简聊</a></td>
</tr>
<tr>
  <td colspan="2" style="padding: 0 30px 30px 30px;" class="main normal font">如果按钮无法点击，请点击下面的链接<br><a href="<?= redirectUrl ?>" class="normal font"><?= redirectUrl ?></a></td>
</tr>
<tr>
  <td colspan="2" class="cutting-line"></td>
</tr>
<tr>
  <td colspan="2" style="padding: 30px 30px 15px 30px;" class="main normal font">
    简聊是一个面向团队的即时沟通工具
    <br>用心沟通，不管多远都很近
  </td>
</tr>
<tr>
  <td colspan="2" class="main normal gray font">如果你在使用中有任何疑问和疑义，请联系&nbsp;<a href="mailto:support@teambition.com" class="normal font">support@teambition.com</a></td>
</tr>
<% include _footer.html %>
